.expandable {
    -fx-wrap-text: true;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-background-radius: 10, 10;
    -fx-background-insets: 2, 5;
    
}
.terrbtn {
-fx-background-color: black,#483D8B;
-fx-text-fill: ivory;
-fx-background-radius: 10, 10;
-fx-background-insets: 2, 5;
}
.terrbtn:hover {
-fx-background-color: #333355, #483D8B;
-fx-text-fill: ivory;
-fx-background-radius: 10, 10;
-fx-background-insets: 2, 5;
}
.terrbtn:pressed {
-fx-background-color: #000029, #000149;
-fx-text-fill: ivory;
-fx-background-radius: 10, 10;
-fx-background-insets: 2, 5;
}

    
